{% extends 'app/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}


{% block body %}
<div class="container-fluid px-0">
    <div class="p-5">
        <h1 class="h2 my-5">Mon compte</h1>
        <p>
            Bienvenue <b>{{user.firstName}}</b> dans votre compte.<br/>
            C'est dans cet espace que vous pouvez gérer vos informations personnelles et gérer vos commandes.
        </p>
    </div>
    <hr class="my-5">
    <div class="px-5">
        <ul class="list-group">
            <a href="{{ path('account_edit') }}" class="list-group-item list-group-item-action">Modifier mes informations personnelles</a>
            <a href="{{ path('account_order_index') }}" class="list-group-item list-group-item-action">Gérer mes commandes</a>
        </ul>
    </div>
</div>
{% endblock %}

