@import url('./style.css');

#userForm{
    .modal-dialog{
        height: 400px;
        .modal-content{

            height: 400px;

            .modal-body {
                height: 400px;
                overflow-y: auto; 
                iframe{
                    height: 300px;
                }
            }
        }
        
    }
}

footer{
    width: 100%;
}