@import url('./style.css');

#userForm{
    .modal-dialog{
        height: 400px;
        .modal-content{

            height: 400px;

            .modal-body {
                height: 400px;
                overflow-y: auto; 
                iframe{
                    height: 300px;
                }
            }
        }
        
    }
}

.text-justify{
    text-align: justify;
}

.btn-illustration{
    border: none!important;
    padding: 0;
}

body{
    position: relative;
    min-height: 100vh;
}

#icons-bottom{
    bottom: 20px;
    right: 30px;
    a{
        width: 45px!important;
        height: 45px!important;
        text-align: center;
    }
}


footer{
    width: 100%;
    position: absolute;
}