@import url('./style.css');
@font-face {
    font-family: "CooperBT";
    src:
      local("Trickster"),
      url("../fonts/cooperBT.ttf") format("truetype")
}

h2{
    font-family: "CooperBT";  
}

#userForm{
    .modal-dialog{
        height: 400px;
        .modal-content{

            height: 400px;

            .modal-body {
                height: 400px;
                overflow-y: auto; 
                iframe{
                    height: 300px;
                }
            }
        }
        
    }
}

.productModal{
    .modal-dialog{
        height: 900px;
        .modal-content{

            height: 900px;

            .modal-body {
                height: 100%;
                overflow: hidden;
                iframe{
                    height: 100%;
                }
            }
        }
        
    }
}

.close{
    border: none;
}

.text-justify{
    text-align: justify;
}

.btn-illustration{
    border: none!important;
    padding: 0;
}

body{
    position: relative;
    min-height: 100vh;
}

#icons-bottom{
    bottom: 20px;
    right: 30px;
    a{
        width: 45px!important;
        height: 45px!important;
        text-align: center;
    }
}


.horizontal-scrollable > .row { 
    overflow-x: auto!important; 
    white-space: nowrap!important; 
} 
    
.horizontal-scrollable > .row > .col-xs-4 { 
    display: inline-block!important; 
    float: none!important; 
} 



footer{
    width: 100%;
    position: absolute;
}