{# templates/app/product/partials/_modal.html.twig -- Modal to show a product  #}

<!-- Vertically centered scrollable modal -->
<div id="productShow{{product.id}}" tabindex="-1"  role="dialog" class="modal fade productModal"  aria-labelledby="productShowLabel{{product.id}}" >
    <div class="modal-dialog modal-dialog-centered modal-xl"  role="document">
    <div class="modal-content container-fluid">
      <div class="modal-header">
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title ">{{ product.name }}</h4>
      </div>
      <div class="modal-body">
        <iframe frameborder="0" scrolling="no" border="0" cellspacing="0" width="100%" src="
          {{ path('product_show', {'id' : product.id})}}">
        </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans %}Fermer{% endtrans %}</button>
      </div>
      
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
