{# templates/app/product/base.html.twig -- base of product template  #}

<!DOCTYPE html>
<html lang="fr" style="height:100%; overflow:scroll;">

    <head>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-fluid" style="height:100%; overflow-y:scroll;">
        <div class="row">{% block body %}{% endblock %}</div>
    </body>

</html>
