{# templates/app/product/index.html.twig -- shop list of products #}

{% extends 'app/base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}
<h1 class="p-5 ">{{ controller_name }}</h1>
<!-- Index Content -->
<div class="row  justify-content-center">
    {% for product in pagination.data %}
        {% include 'app/partials/_product.html.twig' with {'product' : product} %}
    {% else %}
        <span class="float-sm-start p-5 ms-5">Pas de produits dans cette catégorie</span>
    {% endfor %}
    <div class="col-12 text-center">
        {{ pagination.display() }}
    </div>
</div>
{% endblock %}

{% set positionFooter = "position-relative" %}