{# templates/app/_footer.html.twig -- This partials content app footer #}
<footer class="py-5 mt-5 bg-dark bottom-0 {% block positionFooter %} position-absolute {% endblock %}">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>