<footer class="py-5 mt-5 bg-dark bottom-0 {% if positionFooter is defined %}{{positionFooter}}{% endif %}">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<div id="icons-bottom" class="col-12 position-fixed z-3 float-end ">   
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4 d-block">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle a text-dark float-end border border-dark rounded-circle border-5 p-2 bg-light" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-regular fa-comments " ></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li class="m-5">Conversation</li>
            </ul>
        </li>
    </ul>
    <pre class="float-end"> </pre>
    <a href="#top" class="text-dark float-end text-dark float-end border border-dark rounded-circle border-5 p-2 bg-light" width="40px" height="40px">
        <span class="rounded-circle ">
            <i class="fa-solid fa-arrow-up "></i>
        </span>
    </a>
</div>

