{# templates/app/partials/_header.html.twig -- Header of app template  #}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="{{ asset('./src/edit/img/' ~ items['logo_header']) }}" class="img-fluid"/>
        </div>
    </div>
</header>